<% title "Edit Activity" %>
<script>
$(function (){
  alert('DOM has loaded.');
  $('label').css('color','red');
  $('#add_payer').click(function(){$('.payers').append("payer1"));alert('adding payer');})
});

</script>
<%= render 'form' %>

<p>
  <%= link_to "Show", @activity %> |
  <%= link_to "View All", activities_path %>
</p>
